body { /* a = 0 ; b = 0 ; c = 1*/
      font: 400 15px Tahoma; /*Familia sans-serif*/
      line-height: 1.8;
      color: #030101;
      background-color:#9AE0CB;
}
h1 { /* a = 0 ; b = 0 ; c = 1*/
      background-color:#030101;
      background-image: url("multimedia/terminator.jpg");
      border-radius: 15px; 
      color: rgb(80, 78, 78);
      text-transform: uppercase;
      padding: 100px 25px;
      text-align: center;
      background-position: center;     
}
h2 { /* a = 0 ; b = 0 ; c = 1*/
      background-color:#4AA1F0; 
      color: rgb(80, 78, 78);
      padding: 25px 25px;
      text-align: left;     
}
nav {
      background: #030101;
      color: #fff;
      padding: 1% 1%;
      border-radius: 15px;
}
nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
}
nav li {
      display: inline-block;
      text-align: center;
      width: 33%;
      padding: 1% 2%;
}
nav a{
      display: block;
      font: 400 15px Tahoma;
}