body { /* a = 0 ; b = 0 ; c = 1*/
      font: 400 15px Tahoma; /*Familia sans-serif*/
      line-height: 1.8;
      color: #030101;
      background-color:#9AE0CB;
}
h1 { /* a = 0 ; b = 0 ; c = 1*/
      background-color:#030101;
      background-image: url("multimedia/terminator.jpg");
      border-radius: 15px; 
      color: rgb(80, 78, 78);
      text-transform: uppercase;
      padding: 100px 25px;
      text-align: center;
      background-position: center;     
}
h2,h3 { /* a = 0 ; b = 0 ; c = 1*/
      color: rgb(80, 78, 78);
      padding: 0.2% 3%;
      text-align: left;     
}
article{
      background-color:#4AA1F0;
      border-radius: 15px; 
}
p{
      padding: 0.2% 3%
}
nav {
      background: #030101;
      color: #fff;
      padding: 1% 1%;
      border-radius: 15px;
}
nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
}
nav li {
      display: inline-block;
      text-align: center;
      width: 28%;
      padding: 1% 2%;
      font: 400 30px Tahoma;
}
nav a{
      display: block;
}
table{
      border-collapse: collapse;
      border-radius: 15px;
}
table, th, td{
      text-align: center;
}
table{
      width: 100%;
}
th{
      background-color: coral;
      color: black;
}
video{
      display: block;
      margin: auto;
      padding: 1.5%;
}
tr:nth-child(even) {
      background-color: #f2f2f2;
}
tr:nth-child(odd) {
      background-color: #CDCDCD;
}
