body { /* a = 0 ; b = 0 ; c = 1*/
      font: 400 15px Tahoma, sans-serif; /*Familia sans-serif*/
      line-height: 1.8;
      color: #030101;
      background-color:#E5E4E4;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
}
header{ /* a = 0 ; b = 0 ; c =1 */
      grid-column-start: 1 ;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 1;
}
h1 { /* a = 0 ; b = 0 ; c = 1 */
      background-color:#030101;
      background-image: url("multimedia/terminatorbyn.jpg");
      border-radius: 15px; 
      color: rgb(80, 78, 78);
      text-transform: uppercase;
      padding: 100px 25px;
      text-align: center;
      background-position: center;     
}
h2,h3 { /* a = 0 ; b = 0 ; c = 1 */
      color: rgb(80, 78, 78);
      padding: 0.2% 3%;
      text-align: left;     
}
article{ /* a = 0 ; b = 0 ; c = 1 */
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2 ;
      grid-row-end: 3;
}
aside{ /* a = 0 ; b = 0 ; c = 1 */
      background-color:#030101;
      color: #fff;
      border-radius: 15px;
      grid-column-start: 4;
      grid-column-end: 4;
      grid-row-start: 2 ; 
      grid-row-end: 3;
}
aside h3{ /* a = 0 ; b = 0 ; c = 1 */
      color: #fff;
}
p{ /* a = 0 ; b = 0 ; c = 1 */
      padding: 0.2% 3%
}
nav { /* a = 0 ; b = 0 ; c = 1 */
      background: #030101;
      color: #fff;
      padding: 1% 1%;
      border-radius: 15px;
}
nav ul { /* a = 0 ; b = 0 ; c = 2 */ 
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
}
nav li { /* a = 0 ; b = 0 ; c = 2 */
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      width: 28%;
      padding: 1% 2%;
      font: 400 30px Tahoma, sans-serif;
}
a { /* a = 0 ; b = 0 ; c = 1 */
      color: #fff;
}
nav a{ /* a = 0 ; b = 0 ; c = 2 */
      display: block;
}
footer { /* a = 0 ; b = 0 ; c = 1 */
      grid-column-start: 1 ;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 3;
      background-color: #393939;
}
footer img { /* a = 0 ; b = 0 ; c = 2 */
      padding: 0.5%;
}
.full-width {/* a = 0 ; b = 1 ; c = 0*/
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      margin-bottom: -5vw;
}